body{
	margin: 0;
	padding: 0;
	background-color: blue;
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
	
}
 
.container{
    margin: auto;
	overflow: hidden;
	background: #35424a;
    color: #cc0000;
    padding-top: 30px;
    min-height: 70px;
}

ul{
    margin: 0;
    padding: 0;
}

header a{
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}	

header #branding{
	float: left;
	margin: 0;
}

header nav{
	float: right;
	margin-top: 10px;
}

header .current a{
	color: #e8491d;
	font-weight: bold;
}	

header a:hover{
	color: #cccccc;
	font-weight: bold;
}

footer{
	padding: 20px;
	margin-top: 20px;
	color: #ffffff;
	background-color: #cc0000;
	text-align: center;
}

#maincontent{
	width: 80%;
	float: center;
	color: #ff0000;
	background-color: yellow;
	padding: 20px;
	text-align: center;
}

#main{
	width: 82.5%;
	float: center;
	color: #ff0000;
	background-color: yellow;
	text-align: center;
}

#secondarycontent{
	width: 80%;
	color: #ff0000;
	background-color: yellow;
	padding: 20px;
	text-align: center;
	margin-right: 65px;
}

#secondary{
	width: 82.5%;
	color: #ff0000;
	background-color: yellow;
	text-align: center;
	margin-right: 65px;
}

#sportcontent{
	width: 80%;
	color: #ff0000;
	background-color: yellow;
	padding: 20px;
	text-align: center;
}
#sport{
	width: 82.5%;
	color: #ff0000;
	background-color: yellow;
}

#sport h2{
	text-align: center;
}

#sports {
	margin-bottom: 7em;
}	

#sports ul {
	float: right;
	margin-top: 10px;
}

#sports li {
	
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
	margin-left: 35px;
}

#desc li {
	text-align: center;
}